# General
/certs/*
/credentials/*
/ref

#Terraform
**/*.terraform
*.tfstate*
*lock.hcl
terraform/ansible/hosts
config.tfvars

# Ansible
ansible/certs/*
!ansible/certs/.keep  
ansible/hosts

# Vim
.sw*
